<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <title>Клиенты</title>
</head>
<body onload="brython()">

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel.html" %}

        <div class="right-panel">

            <div class="right-panel-header">

                <form class="w-100" method="POST" action="/filter-clients/">

                    {% csrf_token %}

                    <div class="flex-center search-container">

                        <div>

                            <input class="search-input" type="text" name="search_data" id="search_data">

                            <ul class="search-machine" id="ul"></ul>

                        </div>

                        <button class="add-service-profile-button">ПОИСК<img class="search-img" src="{% static 'accounting_system/search.png' %}" alt="search-img"></button>

                    </div>

                </form>

                <a class="add-manager-link" href="/add-client/">ДОБАВИТЬ КЛИЕНТА</a>

            </div>

            {% for client in clients %}

                <div class="client-container">

                    <div class="flex-column">

                        <h3>{{ client.organization_name }}</h3>

                        <div>

                            <span><span class="client-container-span">тел: </span>{{ client.phone_number }}</span>&nbsp;&nbsp;&nbsp;&nbsp;

                            <span><span class="client-container-span">ИНН: </span>{{ client.inn }}</span>&nbsp;&nbsp;&nbsp;&nbsp;

                            {% if user.is_staff %}

                                <span><span class="client-container-span">менеджер: </span>{{ client.manager }}</span>&nbsp;&nbsp;&nbsp;&nbsp;

                            {% endif %}

                            <span><span class="client-container-span">услуг: </span>{{ client.get_count_active_services }}</span>

                        </div>

                    </div>

                    <div class="d-flex">

                        <form class="h-100" action="/client-profile/" method="post">

                            {% csrf_token %}

                            <button class="client-add-service-button" name="client_pk" value="{{ client.pk }}">карточка</button>

                        </form>

                        <form class="h-100" action="/add-service-for-client-form/" method="post">

                            {% csrf_token %}

                            <button class="client-add-service-button" name="client_pk" value="{{ client.pk }}"><b>+</b> услуга</button>

                        </form>

                        <form class="h-100" action="/delete-client/" method="post">

                            {% csrf_token %}

                            <button class="manager-delete-button" name="client_pk" value="{{ client.pk }}">удалить</button>

                        </form>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

    <input type="hidden" value='{{ clients_list }}' id="clients_list">

    <script type="text/python">

        from browser import document
        from browser.html import LI


        search_data = document['search_data']
        ul = document['ul']
        clients_list = document['clients_list'].value
        data = clients_list[1:len(clients_list) - 1].split(', ')


        def set_value_in_input(event) -> None:
            search_data.value = event.target.text
            ul.clear()


        def get_matches(event) -> None:
            ul.clear()
            input_text: str = search_data.value.lower()
            matches_list: list = [i for i in data if input_text in i.lower() and input_text != ''][:5]
            
            for match in matches_list:
                ul <= LI(f'{match[1:len(match) - 1]}').bind('click', set_value_in_input)
            


        search_data.bind('input', get_matches)
    
    </script>

</body>

</html>