<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <title>Клиенты</title>
</head>
<body>

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel.html" %}

        <div class="right-panel">

            <div class="right-panel-header">

                <a class="add-manager-link" href="/add-client/">ДОБАВИТЬ КЛИЕНТА</a>

            </div>

            {% for client in clients %}

                <h3>{{ client.organization_name }}</h3>

                <div>

                    <span>В работе:</span>
                    <span>Завершено:</span>
                    <span>Потрачено:</span>

                </div>

            {% endfor %}

        </div>

    </div>

</body>

</html>