<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <title>Клиенты</title>
</head>
<body>

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel.html" %}

        <div class="right-panel">

            <div class="right-panel-header">

                <a class="add-manager-link" href="/add-client/">ДОБАВИТЬ КЛИЕНТА</a>

            </div>

            {% for client in clients %}

                <div class="client-container">

                    <div class="flex-column">

                        <h3>{{ client.organization_name }}</h3>

                        <div>

                            <span><span class="client-container-span">тел: </span>{{ client.phone_number }}</span>&nbsp;&nbsp;&nbsp;&nbsp;

                            <span><span class="client-container-span">ИНН: </span>{{ client.inn }}</span>&nbsp;&nbsp;&nbsp;&nbsp;

                            {% if user.is_staff %}

                                <span><span class="client-container-span">менеджер: </span>{{ client.manager }}</span>&nbsp;&nbsp;&nbsp;&nbsp;

                            {% endif %}

                            <span><span class="client-container-span">услуг: </span>{{ client.services.all.count }}</span>

                        </div>

                    </div>

                    <div class="d-flex">

                        <form class="h-100" action="/add-service-for-client-form/" method="post">

                            {% csrf_token %}

                            <button class="client-add-service-button" name="client_pk" value="{{ client.pk }}"><b>+</b> услуга</button>

                        </form>

                        <form class="h-100" action="/delete-client/" method="post">

                            {% csrf_token %}

                            <button class="manager-delete-button" name="client_pk" value="{{ client.pk }}">удалить</button>

                        </form>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

</body>

</html>