{% load static %}

<div class="left-panel">

    <div class="panel-div-img">

        <img class="left-panel-img" src="{% static 'accounting_system/logo.png' %}" alt="logo">

    </div>

    <a class="left-panel-link" href="/clients/"><img class="link-img" src="{% static 'accounting_system/client.png' %}" alt="logo">КЛИЕНТЫ</a>

    <a class="left-panel-link" href="/staff/"><img class="link-img" src="{% static 'accounting_system/staff.png' %}" alt="logo">СОТРУДНИКИ</a>

    <a class="left-panel-link" href=""><img class="link-img" src="{% static 'accounting_system/tasks.png' %}" alt="logo">ЗАДАЧИ</a>

    <a class="left-panel-link" href=""><img class="link-img" src="{% static 'accounting_system/calendar.png' %}" alt="logo">КАЛЕНДАРЬ</a>

</div>