<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <title>Сотрудники</title>
</head>
<body>

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel.html" %}

        <div class="right-panel">

            <div class="right-panel-header">

                <a class="add-manager-link" href="/add-manager/">ДОБАВИТЬ СОТРУДНИКА</a>

            </div>

            {% for manager in managers %}

                <div class="manager-container">

                    <div>

                        <h1>{{ manager.first_name }} {{ manager.last_name }}</h1>

                        <div class="manager-data">

                            <span>В работе:</span>&nbsp;&nbsp;&nbsp;

                            <span>Завершено:</span>&nbsp;&nbsp;&nbsp;

                            <span>Потрачено:</span>&nbsp;&nbsp;&nbsp;

                            <span>Клиентов: {{ manager.get_clients.count }}</span>

                        </div>

                    </div>

                    <div class="d-flex">

                        <form action="/change-manager-form/" method="post">

                            {% csrf_token %}

                            <button class="manager-delete-button" name="manager_pk" value="{{ manager.pk }}">изменить</button>

                        </form>

                        {% if not manager.is_staff  %}

                            <form action="/delete-manager/" method="post">

                                {% csrf_token %}

                                <button class="manager-delete-button" name="manager_pk" value="{{ manager.pk }}">удалить</button>

                            </form>

                        {% endif %}

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

</body>

</html>