
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    {% load static %}
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">

        <div class="header-logo">

            <img class="header-img" src="{% static 'accounting_system/logo-2.png' %}" alt="logo">

        </div>

        <div class="header-filters">

            <!-- FILTERS -->

        </div>

        <div>

            <button class="header-button">ВЫХОД</button>

        </div>

    </div>

    <div class="wrap">

        <div class="left-panel">

            <div class="panel-div-img">

                <img class="left-panel-img" src="{% static 'accounting_system/logo.png' %}" alt="logo">

            </div>

            <a class="left-panel-link" href=""><img class="link-img" src="{% static 'accounting_system/client.png' %}" alt="logo">КЛИЕНТЫ</a>

            <a class="left-panel-link" href=""><img class="link-img" src="{% static 'accounting_system/staff.png' %}" alt="logo">СОТРУДНИКИ</a>

            <a class="left-panel-link" href=""><img class="link-img" src="{% static 'accounting_system/tasks.png' %}" alt="logo">ЗАДАЧИ</a>

            <a class="left-panel-link" href=""><img class="link-img" src="{% static 'accounting_system/calendar.png' %}" alt="logo">КАЛЕНДАРЬ</a>

        </div>

        <div class="right-panel">



        </div>

    </div>

</body>

</html>