<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <title>Услуги</title>
</head>
<body>

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel.html" %}

        <div class="flex-center-column flex-grow-1">

            <div class="flex-center">

                <a href="/kkt-service/" class="service-container">ККТ</a>

                <a href="/fn-service/" class="service-container">ФН</a>

                <a href="/to-service/" class="service-container">ТО</a>

            </div>

            <div class="flex-center">

                <a href="/ecp-service/" class="service-container">ЭЦП</a>

                <a href="/ofd-service/" class="service-container">ОФД</a>
                
            </div>

        </div>

    </div>

</body>

</html>